################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MiddleWareDemo1/MiddleWareDemo1/obj
